@import './bootstrap/customizations.scss';

body {
    background-image: url('./img/bg-tw-v2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}
.title {
    color: #972222;
}